/*
Theme Name:         Ono
Theme URI:          http://themefortress.com/reverie/
Description:        Reverie is a versatile HTML5 responsive WordPress framework based on ZURB's Foundation.
Version:            4.3.1
Author:             Zhen Huang
Author URI:         http://themefortress.com/

License:            MIT License
License URI:        http://www.opensource.org/licenses/mit-license.php
*/

/* -------------------------------------------------- 

	This stylesheet will not be loaded in the front
	end by default.
	
	If you are using Sass, the main stylesheet in
	css/style.css and scss/style.scss. Style.scss has
	already loaded the main Foundation Sass and Normalize.
	Start learning Sass today and have fun and enjoy
	customizing Reverie.
	
	If you are using vanilla CSS to customize Reverie,
	go to functions.php line 23 and follow the instruction
	to enable CSS support, then start editing this file.

-------------------------------------------------- */

/* Start to customize Reverie */
header.row,
.container.row,
.row.full-width {
  background-color: rgba(255, 255, 255, 0.9);
}

h4.subheader, ol.commentlist cite.subheader.fn {
  margin-top: -1em;
}

.page-numbers {
  display: block;
  height: 1.5em;
  margin-left: -0.3125em;
}
.page-numbers li {
  height: 1.5em;
  color: #222222;
  font-size: 0.875em;
  margin-left: 0.3125em;
}
.page-numbers li a {
  display: block;
  padding: 0.0625em 0.4375em 0.0625em;
  color: #999999;
}
.page-numbers li:hover a,
.page-numbers li a:focus {
  background: #e6e6e6;
}
.page-numbers li.unavailable a {
  cursor: default;
  color: #999999;
}
.page-numbers li.unavailable:hover a, .page-numbers li.unavailable a:focus {
  background: transparent;
}
.page-numbers li.current a {
  background: #2ba6cb;
  color: white;
  font-weight: bold;
  cursor: default;
}
.page-numbers li.current a:hover, .page-numbers li.current a:focus {
  background: #2ba6cb;
}
.page-numbers li {
  float: left;
  display: block;
}

.page-numbers li span:hover a,
.page-numbers li span a:focus {
  background: #e6e6e6;
}
.page-numbers li span.current {
  background: #2ba6cb;
  padding: 0.0625em 0.4375em 0.0625em;
  color: white;
  font-weight: bold;
  cursor: default;
}

ol.commentlist {
  margin-left: 0;
  margin-top: 2em;
}
ol.commentlist li {
  list-style: none;
  margin-bottom: 2em;
}
ol.commentlist .comment-author img {
  border-radius: 50%;
  float: left;
  margin: 0 1em 0 0;
}
ol.commentlist .author-meta {
  display: inline-block;
}
ol.commentlist cite.fn {
  margin-right: 0.5em;
}
ol.commentlist section.comment {
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
  margin-bottom: 1.25em;
  padding: 20px;
  background: white;
}
ol.commentlist section.comment > :first-child {
  margin-top: 0;
}
ol.commentlist section.comment > :last-child {
  margin-bottom: 0;
}
ol.commentlist section.comment h1, ol.commentlist section.comment h2, ol.commentlist section.comment h3, ol.commentlist section.comment h4, ol.commentlist section.comment cite.fn, ol.commentlist section.comment h5, ol.commentlist section.comment h6, ol.commentlist section.comment p {
  color: #333333;
}
ol.commentlist section.comment h1, ol.commentlist section.comment h2, ol.commentlist section.comment h3, ol.commentlist section.comment h4, ol.commentlist section.comment cite.fn, ol.commentlist section.comment h5, ol.commentlist section.comment h6 {
  line-height: 1;
  margin-bottom: 0.625em;
}
ol.commentlist section.comment h1.subheader, ol.commentlist section.comment h2.subheader, ol.commentlist section.comment h3.subheader, ol.commentlist section.comment h4.subheader, ol.commentlist section.comment cite.subheader.fn, ol.commentlist section.comment h5.subheader, ol.commentlist section.comment h6.subheader {
  line-height: 1.4;
}
ol.commentlist a.comment-reply-link {
  float: right;
  position: relative;
  bottom: 1em;
}

ul {
  margin-left: 0;
}

figure {
  margin-bottom: 1.25em;
}

input.prefix.button {
  line-height: 1;
}

#sidebar input.prefix.button {
  line-height: 0.7;
}

img.alignright {
  float: right;
  margin: 0 0 18px 18px;
}

img.alignleft {
  float: left;
  margin: 0 18px 18px 0;
}

img.aligncenter {
  display: block;
  margin: 18px auto;
}

figure.figure {
  margin: 0 auto;
  display: inline-block;
}
figure.figure figcaption {
  padding: 8px 10px;
  color: gray;
  margin-bottom: 1.25em;
}

figure.alignright.figure {
  float: right;
  margin: 0 0 18px 18px;
}

figure.alignleft.figure {
  float: left;
  margin: 0 18px 18px 0;
}