/* Welcome and glad you are using Reverie.
 * This is the main stylesheet loaded by default.
 * Edit the file and have fun.
 * http://themefortress.com/reverie */

// import normalize, stay at top
@import "normalize";

// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

//@import url(http://fonts.googleapis.com/css?family=Oswald:400,300|Droid+Sans:700,400|Droid+Serif:400,400italic,700,700italic&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic|Roboto+Slab:400,300,100,700|Oswald:400,300,700&subset=latin,latin-ext);
// font-family: 'Oswald', sans-serif;
// font-family: 'Droid Sans', sans-serif;
// font-family: 'Droid Serif', serif;

@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";
// @import "../../../plugins/ninja-forms/css/ninja-forms-display.css";
// @import "../../../plugins/ninja-forms/css/qtip.css";
// @import "../../../plugins/ninja-forms/css/jquery.rating.css";






/* Start to customize Reverie */
$a_line_height: 1.1;
body {
	background: #fff;
	color: $primary-color;
	@include brod1;
}
strong, b {
	font-weight: normal;
}

p {
	@include brod1;
}
a,
a:visited {
	display: inline-block;
	border-bottom: 1px dotted $primary-color;
}
.no-border-link {
	border-bottom: none;
}

// add some extra style to row to beautify custom background image
header.row,
.container.row,
.row.full-width {
	background-color: rgba(255,255,255,0.9);
}

// adjusting header
h4.subheader {
	margin-top: -1em;
}
h1, h2, h3 {
	text-transform: uppercase;
}
h3 {
	line-height: 1.2;
}

// add new pagination class for WordPress, Sass is amazingly fast
.pagination-centered {
	float: right;
	position: relative;
	left: -50%;
}
.page-numbers {
	@include pagination;
	margin: 0;
	position: relative;
	left: 50%;
	&.next {
		margin-left: 0.8rem;
	}
	li {
		width: 14px;
		margin: 0 15px 0 0;
		&:hover {
			a {
				background: transparent;
			}
		}
		a {
			border: 1px solid $primary-color;
			@include border-radius(1000px);
			height: 13px;
			width: 13px;
			padding: 0;
			text-indent: -10000px;
			outline: none;
			&:hover {
				background: $primary-color;
			}
			&.next,
			&.prev {
				border: none;
				&:hover {
					background: transparent;
				}
			}

			&:focus {
				background: transparent;
			}
		}
		span {
			&.current {
				border: 1px solid $primary-color;
				@include border-radius(1000px);
				height: 13px;
				width: 13px;
				background: $primary-color;
				color: #fff;
				text-indent: -1000px;
			}
			&.icon {
				margin-left: -3px;
				margin-top: -1px;
			}
		}
	}
	a {
		border: none;
	}
}
ul.page-numbers {
	margin: 2rem 0 0;
}

// add some basic comment styles
ol.commentlist {
	margin-left: 0;
	margin-top: 2em;
	li {
		list-style: none;
		margin-bottom: 2em;
	}
		.comment-author img {
			border-radius: 50%;
			float: left;
			margin: 0 1em 0 0;
		}
		.author-meta {
			display: inline-block;
		}
			cite.fn {
				@extend h4;
				margin-right: 0.5em;
			}
		section.comment {
			@include panel(white, 20px);
		}
			a.comment-reply-link {
				float: right;
				position: relative;
				bottom: 1em;
			}
}

// add some extra margin to ul
ul {
	margin-#{$default-float}: $list-side-margin;
}

// add some margin for embeds in post
figure {
	margin-bottom: $paragraph-margin-bottom;
}

// adjust search button on top-bar
input.prefix.button {
	line-height: 1;
}

// adjust search button on sideba
#sidebar input.prefix.button {
	line-height: 0.7;
}

// Add Class for Images
img.alignright {
	float: right;
	margin: 0 0 18px 18px;
}
	
img.alignleft {
	float: left;
	margin: 0 18px 18px 0;
}

img.aligncenter {
	display: block;
	margin: 18px auto;
	}

// Add HTML5 Caption Class for Images
figure.figure {
	margin: 0 auto;
	display: inline-block;
	figcaption {
		padding: 8px 10px;
		color: gray;
		margin-bottom: $paragraph-margin-bottom;
	}
}

figure.alignright.figure {
	float: right;
	margin: 0 0 18px 18px;
}

figure.alignleft.figure {
	float: left;
	margin: 0 18px 18px 0;
}
.clearfix {
	@include clearfix;
}
// =============Additional grid styles ===========
.row {
	width: 90%;
	max-width: emCalc(960);
}
.container {
	margin-top: 85px;
}
[class*="column"] + [class*="column"]:last-child {
	float: left;
}
// ================= Section types ===============
.table-section {
	table {
		width: 100%;
	}
}
// ================ common elements ==============
.entry-title {
	@include rubbe1;
	border-top: 1px solid $primary-color;
	padding-top: 0.7em;
}
// ================ first home ==============
.page-template-page-first-home-php {
	//background: url("../img/splash2.jpg") no-repeat fixed center 0 #2C2C2C !important;
	color: #fff;
	.container {
		margin-top: 0;
		padding-top: 50px;
		@media #{$mobile} {
			padding-top: 100px;
		}
	}
	div[role="main"] {
		z-index: 10;
		position: relative;
	}
	.row {
		//background: url('../img/splash1.jpg');
	}
	p, a, h1 {
		font-size: 50px;
		color: #fff;
		font-family: $header-font-family;
		text-transform: uppercase;
		font-weight: normal;
		outline: none;
		@media #{$small} {
			font-size: 71px;
		}
	}
	h1 {
		text-align: center;
		margin-bottom: 1rem;
	}
	a {
		border: 1px solid #777;
		padding: 10px;
		margin: 5px;
		font-family: $header-font-family;
		font-weight: normal;
		outline: none;
		line-height: 1;
		font-size: 22px;
		@media #{$small} {
			font-size: 50px;
		}
		&:hover {
			color: #2C2C2C;
			background-color: #fff;
			border-color: #fff;
		}
	}
	#center-ul-wrap {
		float: right;
		position: relative;
		left: -50%;
		text-align: left;
	}
	ul {
		list-style: none;
		position: relative;
		left: 50%;
	}
	li {
		display: inline-block;
	}
	.text-section {
		margin-bottom: 2rem;
		p {
			@include brod1;
			font-size: 1.5rem;
			line-height: 1.4;
			width: 80%;
			margin: 0 auto;
			@media #{$small} {
				width: 60%;
				font-size: 2rem;
			}
			text-align: center;
			text-transform: none;
			br {
				display: none;
			}
		}
	}
	footer {
		background: url("../img/splash2.jpg") no-repeat fixed center 0 #2C2C2C !important;
		height: 20000px;
		width: 50000px;
		position: fixed;
		bottom: 0;
		right: 0;
		z-index: 0;
	}
}
// ================ top-bar ==================
$header-font-size: 26px;
.top-bar {
	height: auto;
	overflow: visible;
	margin-top: 10px;
	@media #{$topbar-media-query} {
		margin-top: 50px;
	}
	.social-links {
		color: #999;
		top: 87px;
		text-align: right;
		right: -4px;
		@media #{$small} {
			right: 0;
		}
		@media #{$topbar-media-query} {
			top: 0;
		}
		span {
			margin-right: 0.6rem;
			font-size: 0.8rem;
		}
	}
	.icon.fb,
	.icon.twitter {
		margin: 12px 0 -4px 20px;
		float: left;
		clear: left;
		@media #{$small} {
			float: none;
			margin: 0 0 -4px 9px;
		}
	}
	.icon.fb {
		margin-top: 2px;
		@media #{$small} {
			margin-top: 0;
		}
	}
	#title-wrap {
		width: 90%;
		max-width: 405px;
		margin: 0 auto;
		@media #{$topbar-media-query} {
			position: relative;
		}
	}
	.title-area {
		font-weight: normal;
		text-transform: uppercase;
		padding-left: 10px;
		a {
			border-bottom: none;
		}
	}
	.name {
		margin: 0 auto;
		h1 a {
			font-weight: normal;
			color: $primary-color;
			width: 100%;
			text-align: center;
			font-family: 'Oswald', sans-serif;
			font-size: 36px;
			padding: 0;
			@media #{$mobile} {
				font-size: $header-font-size;
			}
			@media #{$topbar-media-query} {
				width: auto;
				text-align: right;
			}
		}
	}
	.city-nav {
		float: left;
		//width: 10em;
		text-align: left;
	}
	.toggle-topbar.menu-icon {
		position: absolute;
		top: 8.3rem;
		float: left;
		left: -50px;
		width: 50px;
		z-index: 1000;
		a {
			border-bottom: none;
		}
	}
	.sub-nav {
		width: 118%;
		text-align: center;
		display: none;
		border: 1px solid $primary-color;
		border-left: none;
		border-right: none;
		padding: 0;
		margin: 41px 0 0 -10.5%;
		background-color: $primary-color;
		overflow: visible;
		@include rubbe1;
		@media #{$topbar-media-query} {
			width: 100%;
			display: block;
			background-color: transparent;
			margin-left: 0;
		}
		li {
			float: none;
			margin-left: 1.3rem;
			margin-bottom: 0;
			display: list-item;
			position: relative;
			@media #{$topbar-media-query} {
				display: inline-block;
			}
			&.current-city {
				margin-right: 2rem;
			}
			a {
				font-weight: lighter;
				text-transform: uppercase;
				white-space: nowrap;
				border-bottom: 1px solid $primary-color;
				padding: 8px 0 0;
				margin-bottom: 7px;
				color: #fff;
				@include border-radius(0);
				&:hover {
					border-color: $primary-color;
				}
				@media #{$topbar-media-query} {
					color: inherit;
					border-bottom: 1px solid #fff;
					padding-bottom: 7px;
					margin-bottom: 0;
					&:hover {
						border-color: #fff;
					}
				}
			}
			&.current-menu-item {
				a {
					border-color: #fff;
					background-color: transparent;
					@media #{$topbar-media-query} {
						border-color: $primary-color;
					}
				}
			}
			// .city-name {
			// 	position: relative;
			// 	z-index: 200;
			// }
			// .sub-menu {
			// 	position: absolute;
			// 	left: 0;
			// 	top: 0;
			// 	background-color: #fff;
			// 	width: 300px;
			// 	z-index: 100;
			// 	margin-left: -1000%;
			// 	opacity: 0;
			// 	@include transition(.4s);
			// 	li {
			// 		float: left;
			// 		a {
			// 			padding: 0;
			// 		}
			// 	}
			// }
			// &.current-city:hover {
			// 	.sub-menu {
			// 		margin-left: 100%;
			// 		opacity: 1;
			// 	}
			// }
		}
	}
	&.expanded {
		.sub-nav {
			display: block;
		}
	}
	.sel-box {
	    margin-top: 34px;
	    text-transform: uppercase;
	    color: $primary-color;
	    z-index: 100;
	    width: auto;
		text-align: center;
		font-family: $header-font-family;
		font-weight: normal;
		margin-left: 24px;
		left: 405px;
		@media #{$topbar-media-query} {
			position: absolute;
			margin-top: 0;
		}
		a {
			border-bottom: none;
		}
	}
	#select {
		display: inline-block;
		border: 1px solid #fff;
		padding: 5px 26px 5px 6px;
		cursor: pointer;
		position: relative;
		font-size: $header-font-size;
		margin: 8px 14px 0 0;
		@media #{$topbar-media-query} {
			margin-top: -5px;
		}
		&:hover {
			border-color: $primary-color;
			background: $primary-color;
			color: #fff;
			#sel-option,
			.toc-odd li {
				border-color: $primary-color;
			}
			.arrow-down {
				opacity: 1;
				background-position: -201px -192px;
			}
		}
	}
	#sel-option {
		font-family: 'Oswald', sans-serif;
		position: absolute;
		top: -1px;
		left: -1px;
		background: #fff;
		border: 1px solid lighten($primary-color, 30%);
		border-bottom: none;
		display:none;
		min-width: 101%;
		background-color: #fff;
		z-index: 100;
		&.show {
			display: block;
		}
		li {
			&:hover {
				border-color: $primary-color;
				background-color: $primary-color;
				a {
					color: #fff;
				}
			}
		}
	}
	.toc-odd li {
		padding: 5px 6px;
		line-height: 1;
		border-bottom: 1px solid lighten($primary-color, 30%);
	}
	.current-title-city {
		float: left;
		line-height: 1;
	}
	.icon.arrow-down {
		float: left;
		margin: 0.3rem 4px 0 7px;
		opacity: 0.8;
		background-position: -8px -192px;
		height: 14px;
		width: 11px;
		position: absolute;
	}
	
}
// ================ social ===================
.social-links {
	position: absolute;
	right: 0;
}
.icon {
	background: url('../img/icons.png') no-repeat 0 0 transparent;
	display: inline-block;
	border: none;
	&.statens-kunstakademie {
		background-position: 0 0;
		width: 50px;
		height: 50px;
		&.white {
			background-position: -193px 0;
		}
	}
	&.kunstneres-hus {
		background-position: 0 -75px;
		width: 137px;
		height: 13px;
		&.white {
			background-position: -193px -75px;
		}
	}
	&.fb {
		background-position: 0 -108px;
		width: 19px;
		height: 19px;
		margin-right: 9px;
		opacity: 0.3;
		&:hover {
			opacity: 1;
		}
		&.white {
			background-position: -193px -108px;
			opacity: 0.7;
			&:hover {
				opacity: 1;
			}
		}
	}
	&.twitter {
		background-position: 0 -147px;
		width: 20px;
		height: 19px;
		margin-right: 9px;
		opacity: 0.3;
		&:hover {
			opacity: 1;
		}
		&.white {
			background-position: -193px -147px;
			opacity: 0.7;
			&:hover {
				opacity: 1;
			}
		}
	}
	&.line {
		width: 100%;
		height: 10px;
		opacity: 0.3;
		&:hover {
			opacity: 1;
		}
		&.white {
			background-position: right -361px;
			opacity: 0.7;
			&:hover {
				opacity: 1;
			}
		}
	}
	&.arrow-right {
		background-position: 0 -228px;
		width: 9px;
		height: 17px;
		opacity: 0.8;
		display: block;
		&:hover {
			opacity: 1;
		}
		&.white {
			background-position: -193px -228px;
			opacity: 0.7;
			&:hover {
				opacity: 1;
			}
		}
	}
	&.arrow-left {
		@extend .icon.arrow-right;
		background-position: 0 -267px;
		&.white {
			@extend .icon.arrow-right.white;
			background-position: -193px -267px;
		}
	}
	&.arrow-down {
		background-position: 0 -192px;
		width: 27px;
		height: 14px;
		display: inline-block;
		&.white {
			background-position: -193px -192px;
		}
	}
}
// ================ popups ==================
.popup-wrap {
	padding: 0 !important;
	position: relative;
	display: inline-block;
	&.with-content {
		cursor: pointer;
	}
}
.popup {
	padding: 1.2rem 10px 1.2rem !important;
    position: absolute;
    left: 0;
    background: #fff;
    display: none;
    z-index: 1000;
    cursor: default;
    overflow: hidden;
	.line {
		background-position: right -322px;
		opacity: 0.2;
		position: absolute;
		left: -2px;
		top: 0;
		width: 310px;
	}
}
// ================= Exhibition article ==========
.orbit-container {
	overflow: hidden;
}
.orbit-container {
	.orbit-slides-container {
		background-color: #fff;
		> * .orbit-caption {
			padding: 0 0 10px 0;
			position: relative;
			margin-top: -4px;
			color: inherit;
			@media #{$small} {
				padding: 0 $column-gutter 10px 0;
			}
			.orbit-content-wrap {
				width: 100%;
				@media #{$small} {
					position: absolute;
					bottom: 0;
				}
			}
		}
		li {
			background: #fff;
		}
		@media #{$small} {
			img {
				float: right;
			}
			& > * .orbit-caption {
				width: 34.7%;
				top: 0;
				position: absolute;
				margin-top: 0;
			}
		}
	}
	img {
		@media #{$small} {
			width: 65.3%;
		}
	}
	h3.exh-artists {
		color: $sub-nav-font-color;
		.popup-wrap {
			.names {
				border: none;
				padding: 0.7em 0 0.6em;
			}
			.artist-count {
				margin-top: 1.2rem;
			}
			&.with-content {
				.popup {
					top: 3.3rem;
					padding: 10px 12px !important;
					overflow: hidden;
				}
				.line {
					background-position: right -322px;
					opacity: 0.2;
					left: auto;
					right: -22px;
					width: 650px;
				}
			}
		}
	}
	h3.exh-artists,
	h4.exh-title,
	div.intro-text,
	div.exh-meta {
		@media #{$small} {
			margin-right: 44px;
		}
	}
}

.orbit-next,
.orbit-prev {
	display: none;
}

.orbit-bullets {
	margin-top: 10px;
	z-index: 100;
	display: table;
	li {
		cursor: pointer;
		margin-right: 12px;
	}
}
h4.exh-type-header {
	border-top: 1px solid $border-color-on-dark;
	line-height: 2;
	padding: 0.2rem 0 0.4rem;
	@include rubbe1;
	margin-bottom: 0;
	margin-top: 0;
	&.past {
		color: $primary-color;
		border-bottom: none;
		border-top: 1px solid $primary-color;
		margin: 3em 0 1.6em;
	}
}
h3.exh-artists {
	//margin: 0;
	//color: #fff;
	text-transform: none;
	&:hover {
		.popup-wrap.with-content {
			.names {
				padding-left: 10px;
			}
		}
	}
	.artist-count {
		float: right;
		margin: 1.2em 10px 0 0;
		background: $primary-color;
		color: #fff;
		display: inline-block;
		height: 18px;
		width: 18px;
		text-align: center;
		position: absolute;
		top: 0;
		right: 0;
		line-height: 1.7;
		@include brod1;
		@include border-radius(50%);
		font-weight: 400;
		font-size: 0.8rem;
	}
	.popup-wrap {
		width: 100%;
		.names {
			padding: 0.7em 0;
			display: inline-block;
			width: 100%;
			border-bottom: 1px solid lighten( $primary-color, 40% );
			@include rubbe5;
			@include transition(padding, 0.2s);
		}
		&.with-content {
			&:hover {
				background: $secondary-color;
			}
		}
	}
	.popup {
		width: 100%;
		background-color: $secondary-color;
		top: 39px;
		line-height: 1.3;
		@include rubbe5;
		span {
			width: 100%;
			display: inline-block;
		}
	}
}
.names {
	@include rubbe5;
	.empty & {
		span {
			width: 100%;
			display: inline-block;
		}
	}
}
.intro-text {
	@include brod1;
	color: #838383;
}
.exh-title,
.exh-meta {
	text-transform: none;
	margin: 1em 0 0;
	@include brod1;
	font-weight: 400;
	p {
		margin-bottom: 0;
	}
	a {
		display: inline-block;
	}
}
.exhibition.past {
	width: 100%;
	padding-left: $column-gutter / 2;
	padding-right: $column-gutter / 2;
	max-width: 650px;
	margin-bottom: 3rem;
	float: left;
	@media #{$mobile} {
		width: 50%;
		max-width: none;
	}
	@media #{$small} {
		width: 33.3%;
	}
	.inner-exhibition {
		padding: 0;
		position: relative;
		a {
			display: block;
		}
		.exh-title {
			margin-bottom: 0;
		}
		.date {
			@include brod1;
			color: #838383;
			margin-bottom: 0.7rem;
		}
	}

	h3.exh-artists {
		color: inherit;
	}
	.exh-title,
	.exh-meta {
		color: $primary-color;
		a {
			color: $primary-color;
			display: inline-block;
			border-bottom: 1px dotted $primary-color;
		}
	}
	// .read-more {
	// 	margin: 0;
	// 	width: 100%;
	// 	display: block;
	// 	padding: 1em 14px;
	// 	background-color: $secondary-color;
	// 	text-align: right;
	// 	position: relative;
	// 	&:hover {
	// 		background: darken($secondary-color, 5%);
	// 	}
	// 	.view {
	// 		margin-right: 24px;
	// 	}
	// 	.icon {
	// 		position: absolute;
	// 		right: 18px;
	// 		top: 0.9em;
	// 	}
	// }
	.intro-text {
		border-bottom: 1px solid lighten( $primary-color, 40% );
	}
	.popup {
		.line {
			opacity: 0.4;
			left: auto;
			right: -20px;
			width: 650px;
			margin-top: 4px;
		}
	}
}
.past-exhibitions-header {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.single-exhibition {
	.entry-content {
		padding-right: 3rem;
	}
	h3.exh-artists {
		color: inherit;
	}
	.empty .names span {
		display: block;
		line-height: 1.2;
	}
	.single-artists {
		margin: 3.3rem 0 1em;
	}
	.exh-title {
		@include brod1;
		font-weight: 400;
		margin-bottom: 0;
	}
	.exh-meta {
		padding-bottom: 0;
		margin-bottom: 4em;
		margin-top: 0.2rem;
	}
	.exh-title,
	.exh-meta {
		color: $primary-color;
		a {
			color: $primary-color;
		}
	}
	.intro-text {
		color: $primary-color;
	}
	.images {
		margin-top: 4rem;
		@media #{$small} {
			//padding-left: 1.5 * $column-gutter;
			margin-top: 0;
		}
		img {
			margin-bottom: $column-gutter;
		}
		iframe {
			max-width: 100%;
			margin-bottom: $column-gutter;
		}
	}
	aside {
		margin: 0 0;
		@media #{$small} {
			padding: 0;
		}
		div {
			padding-top: 2.5rem;
		}
		p {
			margin-bottom: 0;
		}
		a {
			line-height: $a_line_height;
		}
		.icon {
			margin-top: 1rem;
		}
	}
	.more-from-artist {
		@include rubbe1;
		margin-top: 3rem;
		padding-top: 0.7rem;
		margin-bottom: 1rem;
		border-top: 1px solid lighten($primary-color, 40%);
	}
	.related-artists {
		a, span {
			float: left;
			clear: both;
			line-height: 1.1;
			margin-bottom: 0.3rem;
		}
	}
	.related-artist {
		font-weight: normal;
		float: left;
		margin-top: 1rem;
	}
}
.popup {
	span {
		float: left;
		clear: left;
	}
}
// =============== Artist Directory ================


.archive-navi {
	margin-top: 3.5rem;
	padding: 2rem;
	padding-bottom: 2rem;
	padding-left: $column-gutter/2;

	@media #{$small} {
		&.fixed {
			position: fixed;
			left: auto;
			width: 100%;
			margin-top: 0;
			padding-top: 2rem;
			background: #fff;
			@media #{$small} {
				width: 30%;
				max-width: 337px;
			}
		}
	}
	&.fixed {
		position: relative;
	}
	@media #{$small} {
		padding-right: 6rem;
	}
	.archive-navi-main {
		list-style: none;
		.sorting-li {
			clear: left;
			border-top: 1px solid $primary-color;
			border-bottom: 1px solid $primary-color;
			display: inline-block;
			width: 100%;
			padding: 0.7rem 0;
			margin-bottom: 3rem;
			cursor: pointer;
		}
		.show-all-li {
			width: 100%;
		}
	}
	a {
		border: none;
	}
	.main-sort-link {
		font-family: $header-font-family;
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 500;
	}
	.icon.arrow-down {
		background-position: -8px -196px;
		width: 11px;
		opacity: 0.6;
		margin-left: 8px;
	}
	.sub-sort {
		display: none;
		list-style: none;
		margin: 1rem 0 1.5rem;
		&.letter {
			li {
				a {
					width: 18px;
				}
			}
		}
		&.city-filter {
			display: block;
		}
		li {
			display: inline-block;
			margin-right: 0.6em;
			&.show-all-li {
				margin-bottom: 1rem;
				a {
					width: auto;
				}
			}
			a {
				display: inline-block;
				width: auto;
				height: 18px;
				text-align: center;
				line-height: 1.4;
				padding: 0 0.4rem;
				&:hover {
					background-color: $primary-color;
					@include border-radius(1000px);
					color: #fff;
				}
			}
			&.active {
				a {
					background-color: $primary-color;
					@include border-radius(1000px);
					color: #fff;
				}
			}
		}
	}
	.sorting-li.open,
	.sorting-li.js-open {
		.sub-sort {
			display: block;
		}
	}
}
$artist_li_height: 44px;

@media #{$small} {
	.artists-column {
		padding: 0;
	}
}
.archive-results {
	list-style: none;
	margin-top: 0;
	.result-wrap {
		border-top: 1px solid $primary-color;
		padding: 7px 0 0;
		&:hover,
		&.open {
			background: $secondary-color;
			.result {
				padding-left: 10px;
			}
		}
	}
	.popup-wrap {
		width: 100%;
		height: $artist_li_height;
	}
	.popup {
		background: $secondary-color;
		width: 100%;
		top: $artist_li_height - 2px;
		padding-top: 20px !important;
		overflow: hidden;
		.line {
			left: auto;
			right: -20px;
			top: 7px;
			width: 650px;
			opacity: 0.4;
		}
		p {
			margin-bottom: 0.6em;
		}
		.p-header {
			font-weight: 400;
		}
	}
	ul.exhibitions {
		list-style: none;
		margin-left: 0;
		@include brod1;
		li {
			margin-bottom: 0.2rem;
		}
		a {
			color: #7f7f7f;
			border-color: #7f7f7f;
			line-height: $a_line_height;
		}
	}
	.result {
		float: left;
		max-width: 80%;
		@include transition(padding, 0.2s);
	}
	.result-heading {
		font-weight: 400;
	}
	.result-sub-heading {
		display: block;
		line-height: 1;
		@include brod1;
	}
	.count {
		float: right;
		margin: 0.8em 10px 0 0;
		max-width: 20%;
		background: $primary-color;
		color: #fff;
		display: inline-block;
		height: 18px;
		width: 18px;
		text-align: center;
		@include brod1;
		@include border-radius(50%);
		font-weight: 400;
		font-size: 0.8rem;
		line-height: 1.7;
	}
	.first-letter {
		width: 100%;
		h3 {
			margin: 1.3em 0 0.3em;
			float: left;
			@include rubbe2;
		}
		.show-for-small {
			margin-top: 2.7rem;
			float: right;
			line-height: $a_line_height;
		}
	}
}

// ===============ninja forms ============
#ninja_forms_form_4_process_msg {
	font-size: 1.3rem;
    margin-bottom: 2rem;
}
.ninja-forms-form-wrap {
	.ninja-forms-req-symbol {
		display: none;
	}
	.ninja-forms-required-items {
		display: none;
	}
	label {
		font-weight: 300 !important;
		@include brod1;
	}
	input {
		@include brod1;
		&:focus {
			@include box-shadow(0 0 0 #000);
		}
		&[type="submit"] {
			@include border-radius(1000px);
			border: 1px solid $primary-color;
			margin-left: 0 !important;
		}
	}
	.ninja-forms-error-msg {
		color: #C85539;
	    font-size: 1.2em;
	}
}
// =============== news =================
.news-wrap {
	border-bottom: 1px solid lighten($primary-color, 40%);
	padding-bottom: 4rem;
	header {
		h3 {
			@include rubbe2;
			margin: 3.2rem 0 0.3rem;
		}
		.news-meta {
			@include brod1;
			font-style: italic;
			color: #999;
		}
	}
	.news-images {
		margin-top: 5rem;
		&.single {
			margin-bottom: $column-gutter;
		}
		.columns {
			margin-bottom: $column-gutter;
		}
		a {
			border: 0;
		}
	}
}
#colorbox {
	margin-top: -50px;
}
.latest-press {
	margin-top: 4rem;
	@media #{$small} {
		margin-top: 0;
	}
	section {
		margin-top: 3.3rem;
		p {
			margin-bottom: 0;
		}
		a {
			line-height: $a_line_height;
		}
	}
}

// ================== about ==============

.main-about {
	margin-bottom: 4rem;
	h2, h3, h4, h5 {
		@include rubbe2;
		margin: 3rem 0;
	}
}
.ono-family {
	margin-top: 3rem !important;
	position: relative;
	@media #{$small} {
		margin-top: 0 !important;
	}
	header {
		h2 {
			margin-bottom: 3rem;
		}
	}
	.ono-persons {
		position: relative;
		top: 80px;
	}
	section {
		width: 100%;
		padding-left: $column-gutter / 2;
		padding-right: $column-gutter / 2;
		max-width: 650px;
		margin-bottom: 3rem;
		float: left;
		@media #{$mobile} {
			width: 50%;
			max-width: none;
		}
		@media #{$small} {
			width: 33.3%;
		}
	}
}
.ono-name {
	@include rubbe4;
	margin-top: 2.4rem;
}
.ono-link {
	line-height: $a_line_height;
}
.city-contacts {
	h2 {
		margin-bottom: 3.5rem;
	}
}
.city-contact {
	padding-bottom: 2.7rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid lighten($primary-color, 40%);
	&:last-child {
		border: none;
	}
	h3 {
		@include rubbe4;
		margin-bottom: 0.4rem;
	}
	p {
		margin: 0;
		a {
			display: inline-block;
			margin-bottom: 0.5rem;
			line-height: $a_line_height;
		}
	}
}

// ================ application ===============
.application {
	.entry-title {
		margin-bottom: 3.6rem;
	}
	input[type="text"],
	textarea {
		background: lighten($tertiary-color, 4%);
		border: none;
		margin-bottom: 2rem;
		@include box-shadow(0 0 0 #000);
	}
	textarea {
		resize: vertical;
		height: 150px;
	}
	input[type="submit"] {
		background-color: #fff;
		padding: 2px 10px;
		&:hover {
			background-color: $primary-color;
			color: #fff;
		}
	}
	.ninja-forms-help-text {
		margin-left: 5px;
	}
	.questionmark {
		color: #fff;
		background-color: $primary-color;
		width: 16px;
		height: 16px;
		font-size: 0.8rem;
		font-weight: normal;
		border: 1px solid $primary-color;
		margin-left: -16px;
		display: inline-block;
		text-align: center;
		line-height: 1.3;
		@include border-radius(50%);
	}
	.ninja-forms-form-wrap {
		input[type="file"] {
			border: none;
			background-color: $secondary-color;
			width: 100%;
			padding: 0.61538em;
		}
		.MultiFile-wrap {
			width: 100%;
			background: none repeat scroll 0 0 $secondary-color;
			input[type="file"] {
				margin-bottom: 0;
			}
		}
		.MultiFile-list {
			padding-left: 7rem;
		}
		.MultiFile-label {
			padding-bottom: 1rem;
		}
		.MultiFile-remove {
			text-indent: -10000px;
			display: inline-block;
			width: 1.5rem;
			height: 1rem;
			position: relative;
			border: none;
			color: #fff;
			&:before {
				text-indent: 0;
				content: '✕';
				left: 0;
				top: 0;
				position: absolute;
				display: inline-block;
				z-index: 100;
				background-color: $primary-color;
				font-style: normal;
				@include border-radius(50%);
			    font-family: $header-font-family;
			    font-size: 1.2rem;
			    height: 1.2rem;
			    line-height: 0.7;
			    text-align: center;
			    top: -1px;
			    width: 1.2rem;
			    z-index: 100;
			    // &:hover {
			    // 	background-color: #C85539;
			    // }
			}
			&:hover:before {
				background-color: #C85539;
			}
		}
	}
	.field-wrap {
		position: relative;
		margin-bottom: 10px;
		&.ninja-forms-error {
			input, textarea {
				background-color: #fdc1ac;
			}
		}
		.ninja-forms-field-error {
			position: absolute;
			top: 0;
			right: 0;
			color: #C85539;
		}
	}
	#ninja_forms_required_items {
		margin-bottom: 10px;
	}
	.large-4 {
		margin-top: 1rem;
	}
}
.honeypot-wrap {
	display: none;
}
// =============== Footer ================

footer[role="contentinfo"] {
	padding-top: 2rem;
	padding-bottom: 1rem;
	margin-top: 10rem;
	position: relative;
	z-index: 100;
	.columns {
		> div {
			border-top: 1px solid $border-color-on-dark;
			padding-top: 1.9rem;
		}
		margin-bottom: 4rem;
	}
	&.full-width {
		background: #333;
	}
	p {
		margin-bottom: 0;
		font-size: 0.9em;
		color: $text-color-on-dark;
		&.margin {
			margin-bottom: 0.8em;
		}
	}
	.large-7,
	.large-5 {
		margin-bottom: 0;
		@media #{$small} {
			margin-bottom: 4rem;
		}
	}
	a {
		line-height: $a_line_height;
		border-color: $text-color-on-dark;
		color: $text-color-on-dark;
	}
	.icon {
		opacity: 0.7;
		margin-bottom: 0.5em;
		&.statens-kunstakademie {
			margin-top: 1em;
			display: block;
		}
		&:hover {
			opacity: 1;
		}
	}
	#ninja_forms_form_2_process_msg,
	#ninja_forms_form_5_process_msg {
		display: none !important;
	}
	.ninja-forms-form-wrap {
		label {
			color: $text-color-on-dark;
			font-size: 0.9em;
		}
		input {
			background-color: #3d3d3d;
			border-color: $border-color-on-dark;
			color: $text-color-on-dark;
			max-width: 225px;
			@include box-shadow(0 0 0 #000);
			&[type="submit"] {
				border-color: $border-color-on-dark;
				background-color: #333;
				padding: 2px 13px;
				font-size: 0.9em;
				&:hover {
					background-color: #fff;
					color: $primary-color;
					border-color: #fff;
				}
			}
		}
		.ninja-forms-field-error {
			display: none !important;
		}
	}
	.social-links {
		position: relative;
		right: auto;
	}
	ul {
		list-style: none;
		font-size: 0.9em;
		margin-top: 0;
		padding-top: 0;
	}
	li {
		width: 100%;
		margin-bottom: 0.2em;
		font-weight: 300;
		&.active {
			a {
				color: inherit;
				background-color: transparent;
				border-bottom: 1px dotted $text-color-on-dark;
				padding: 0;
				@include border-radius(0);
				color: $text-color-on-dark;
				cursor: pointer; 
			}
		}
	}
}
#menuOverlay {
	position: fixed;
	width: 10000px;
	height: 10000px;
	z-index: 99;
	display: none;
	top: 0;
	left: 0;
}
