.city-name {
	font-size: 20px;
	width: 100px;
}
table {
	width: 100%;
}
td {
	vertical-align: baseline;
}
#city-table tr {
	border-bottom: 1px solid #ccc;
	display: block;
}
.city_manager .name {
	min-width: 200px;
	display: inline-block;
	font-size: 1.2em;
}
.city_manager a {
	font-size: 80%;
}
.city-managers {
	min-width: 400px;
}
.city_manager .name:before {
	content: '✓ ';
}
.city-order {
	min-width: 200px;
}
.city-order select {
	min-width: 80px;
}
.managers-label {
	font-style: italic;
	text-align: right;
}
.managers-label label {
	display: inline-block;
	margin-right: 20px;
}
.select-manager {
	margin-bottom: 40px;
	min-width: 140px;
}